@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TallyBook.Models.ItemModels>
@{
    ViewBag.Title = "Details";
    Layout = "";
}

@section style
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(x => Model.FirstOrDefault().Type)</th>
                <th>@Html.DisplayNameFor(x => Model.FirstOrDefault().DataDate)</th>
                <th>@Html.DisplayNameFor(x => Model.FirstOrDefault().Amount)</th>
            </tr>
            @{
                int i = 0;

                foreach (var item in Model)
                {
                    <tr>
                        <th>@(++i)</th>
                        <th>@Html.DisplayFor(x => item.Type)</th>
                        <th>@Html.DisplayFor(x => item.DataDate)</th>
                        <th style="color:@(item.Category==0? "red" : "blue");" >
                            @Html.DisplayFor(x => item.Amount)
                        </th>
                    </tr>
                }
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>