@model TallyBook.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>我的記帳簿</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="well form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.item.Type)
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.item.Category, (List<SelectListItem>)ViewBag.typeSelectList, new { htmlAttributes = new { @class = "form-control"}})

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.item.Amount)
            </div>
            <div class="col-sm-10">
                @Html.EditorFor(x=>x.item.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "金額" } })
                @Html.ValidationMessageFor(x=>x.item.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.item.DataDate)
            </div>
            <div class="col-sm-10">
                @Html.EditorFor(x=>x.item.DataDate, new { htmlAttributes = new { @class = "form-control", placeholder = "yyyy-MM-dd" } })
                @Html.ValidationMessageFor(x=>x.item.DataDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                @Html.LabelFor(x => x.item.Memo)
            </div>
            <div class="col-sm-10">
                @Html.TextAreaFor(x=>x.item.Memo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x=>x.item.Memo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @Html.Action("Details", new { Model.pageNum })
    </div>
</div>